Vamos a realizar un an√°lisis exploratorio de datos, primero realizamos una ingesta de los datos desde las diversas fuentes, para posteriormente aplicar las transformaciones pertinentes.

In [20]:
#importamos librerias necesarias

import pandas as pd
import numpy as np
import io
import requests

In [21]:
#Obtenemos los datasets con la libreria requests y pandas.
#Dataset amazon prime titles

url_amzn = 'https://raw.githubusercontent.com/HX-FAshur/PI01_DATA05/main/Datasets/amazon_prime_titles.csv'
bajada_datos_amzn = requests. get(url_amzn). content
amzn_df = pd. read_csv(io. StringIO(bajada_datos_amzn. decode('utf-8')))

#Dataset disney plus titles

url_disney = 'https://raw.githubusercontent.com/HX-FAshur/PI01_DATA05/main/Datasets/disney_plus_titles.csv'
bajada_datos_disney = requests. get(url_disney). content
disney_df = pd. read_csv(io. StringIO(bajada_datos_disney. decode('utf-8')))


#Dataset hulu titles

url_hulu = 'https://raw.githubusercontent.com/HX-FAshur/PI01_DATA05/main/Datasets/hulu_titles.csv'
bajada_datos_hulu = requests. get(url_hulu). content
hulu_df = pd. read_csv(io. StringIO(bajada_datos_hulu. decode('utf-8')))


#Dataset netflix titles

url_netflix = 'https://raw.githubusercontent.com/HX-FAshur/PI01_DATA05/main/Datasets/netflix_titles.json'
bajada_datos_netflix = requests. get(url_netflix). content
netflix_df = pd. read_json(io. StringIO(bajada_datos_netflix. decode('utf-8')))

In [22]:
#exploramos los datasets

In [23]:
amzn_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9668 entries, 0 to 9667
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       9668 non-null   object
 1   type          9668 non-null   object
 2   title         9668 non-null   object
 3   director      7586 non-null   object
 4   cast          8435 non-null   object
 5   country       672 non-null    object
 6   date_added    155 non-null    object
 7   release_year  9668 non-null   int64
 8   rating        9331 non-null   object
 9   duration      9668 non-null   object
 10  listed_in     9668 non-null   object
 11  description   9668 non-null   object
dtypes: int64(1), object(11)
memory usage: 906.5+ KB

In [24]:
disney_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1450 entries, 0 to 1449
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       1450 non-null   object
 1   type          1450 non-null   object
 2   title         1450 non-null   object
 3   director      977 non-null    object
 4   cast          1260 non-null   object
 5   country       1231 non-null   object
 6   date_added    1447 non-null   object
 7   release_year  1450 non-null   int64
 8   rating        1447 non-null   object
 9   duration      1450 non-null   object
 10  listed_in     1450 non-null   object
 11  description   1450 non-null   object
dtypes: int64(1), object(11)
memory usage: 136.1+ KB

In [25]:
hulu_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3073 entries, 0 to 3072
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       3073 non-null   object
 1   type          3073 non-null   object
 2   title         3073 non-null   object
 3   director      3 non-null      object
 4   cast          0 non-null      float64
 5   country       1620 non-null   object
 6   date_added    3045 non-null   object
 7   release_year  3073 non-null   int64
 8   rating        2553 non-null   object
 9   duration      2594 non-null   object
 10  listed_in     3073 non-null   object
 11  description   3069 non-null   object
dtypes: float64(1), int64(1), object(10)
memory usage: 288.2+ KB

In [26]:
netflix_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 894.5+ KB

In [27]:
amzn_df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...
1,s2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...
2,s3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...
3,s4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyonc√©, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ..."
4,s5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...

A√±adimos un nueva columna llamada "plataforma" la cual tendr√° el nombre de su la respectiva plataforma del dataset.

In [28]:
amzn_df['plataforma']='amazon'
disney_df['plataforma']='disney'
hulu_df['plataforma']='hulu'
netflix_df['plataforma']='netflix'

En la columna 'show_id' a√±adimos el prefijo de la plataforma para diferenciarlos m√°s adelante.

In [29]:
amzn_df['show_id']='amzn'+ amzn_df['show_id']
disney_df['show_id']='dis'+ disney_df['show_id']
hulu_df['show_id']='hu'+ hulu_df['show_id']
netflix_df['show_id']='net'+ netflix_df['show_id']

In [30]:
amzn_df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,plataforma
0,amzns1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,"March 30, 2021",2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...,amazon
1,amzns2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,"March 30, 2021",2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,amazon
2,amzns3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,"March 30, 2021",2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...,amazon
3,amzns4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyonc√©, Britney...",United States,"March 30, 2021",2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ...",amazon
4,amzns5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,"March 30, 2021",1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...,amazon

In [31]:
# Normalizacion de columnas
amzn_df.columns = ['Pelicula_id','Tipo', 'Titulo', 'Director', 'Elenco', 'Pais', 'Fecha_a√±adida', 'A√±o_lanzamiento', 'Clasificacion', 'Duracion', 'Listada_en', 'Descripcion','Plataforma']
disney_df.columns = ['Pelicula_id','Tipo', 'Titulo', 'Director', 'Elenco', 'Pais', 'Fecha_a√±adida', 'A√±o_lanzamiento', 'Clasificacion', 'Duracion', 'Listada_en', 'Descripcion','Plataforma']
hulu_df.columns = ['Pelicula_id','Tipo', 'Titulo', 'Director', 'Elenco', 'Pais', 'Fecha_a√±adida', 'A√±o_lanzamiento', 'Clasificacion', 'Duracion', 'Listada_en', 'Descripcion','Plataforma']
netflix_df.columns = ['Pelicula_id','Tipo', 'Titulo', 'Director', 'Elenco', 'Pais', 'Fecha_a√±adida', 'A√±o_lanzamiento', 'Clasificacion', 'Duracion', 'Listada_en', 'Descripcion','Plataforma']

borramos los espacios a los costados de la columna 'Fecha_a√±adida' y le cambiamos el tipo a datetime

In [32]:
amzn_df['Fecha_a√±adida']=amzn_df['Fecha_a√±adida'].str.lstrip()
amzn_df['Fecha_a√±adida']=amzn_df['Fecha_a√±adida'].str.rstrip()
amzn_df['Fecha_a√±adida']=pd.to_datetime(amzn_df['Fecha_a√±adida'], format= '%B %d, %Y')

disney_df['Fecha_a√±adida']=disney_df['Fecha_a√±adida'].str.lstrip()
disney_df['Fecha_a√±adida']=disney_df['Fecha_a√±adida'].str.rstrip()
disney_df['Fecha_a√±adida']=pd.to_datetime(disney_df['Fecha_a√±adida'], format= '%B %d, %Y')

hulu_df['Fecha_a√±adida']=hulu_df['Fecha_a√±adida'].str.lstrip()
hulu_df['Fecha_a√±adida']=hulu_df['Fecha_a√±adida'].str.rstrip()
hulu_df['Fecha_a√±adida']=pd.to_datetime(hulu_df['Fecha_a√±adida'], format= '%B %d, %Y')

netflix_df['Fecha_a√±adida']=netflix_df['Fecha_a√±adida'].str.lstrip()
netflix_df['Fecha_a√±adida']=netflix_df['Fecha_a√±adida'].str.rstrip()
netflix_df['Fecha_a√±adida']=pd.to_datetime(netflix_df['Fecha_a√±adida'], format= '%B %d, %Y')

En la columna duraci√≥n tambi√©n se eliminan los espacios laterales

In [34]:
amzn_df['Duracion']=amzn_df['Duracion'].str.lstrip()
amzn_df['Duracion']=amzn_df['Duracion'].str.rstrip()

disney_df['Duracion']=disney_df['Duracion'].str.lstrip()
disney_df['Duracion']=disney_df['Duracion'].str.rstrip()

hulu_df['Duracion']=hulu_df['Duracion'].str.lstrip()
hulu_df['Duracion']=hulu_df['Duracion'].str.rstrip()

netflix_df['Duracion']=netflix_df['Duracion'].str.lstrip()
netflix_df['Duracion']=netflix_df['Duracion'].str.rstrip()

Ahora separamos la columna 'duracion' por min

In [36]:
sep_amzn=amzn_df['Duracion'].str.split(" ", n = 1, expand = True) 
sep_hulu=hulu_df['Duracion'].str.split(" ", n = 1, expand = True)
sep_disney=disney_df['Duracion'].str.split(" ", n = 1, expand = True)
sep_netflix=netflix_df['Duracion'].str.split(" ", n = 1, expand = True)

In [37]:
amzn_df['duracion_int']=sep_amzn[0]
amzn_df['duracion_tipo']=sep_amzn[1]

disney_df['duracion_int']=sep_disney[0]
disney_df['duracion_tipo']=sep_disney[1]

hulu_df['duracion_int']=sep_hulu[0]
hulu_df['duracion_tipo']=sep_hulu[1]

netflix_df['duracion_int']=sep_netflix[0]
netflix_df['duracion_tipo']=sep_netflix[1]

In [38]:
amzn_df

,Pelicula_id,Tipo,Titulo,Director,Elenco,Pais,Fecha_a√±adida,A√±o_lanzamiento,Clasificacion,Duracion,Listada_en,Descripcion,Plataforma,duracion_int,duracion_tipo
0,amzns1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,2021-03-30,2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...,amazon,113,min
1,amzns2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,2021-03-30,2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,amazon,110,min
2,amzns3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,2021-03-30,2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...,amazon,74,min
3,amzns4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyonc√©, Britney...",United States,2021-03-30,2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ...",amazon,69,min
4,amzns5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,2021-03-30,1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...,amazon,45,min
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9663,amzns9664,Movie,Pride Of The Bowery,Joseph H. Lewis,"Leo Gorcey, Bobby Jordan",NaN,NaT,1940,7+,60 min,Comedy,New York City street principles get an East Si...,amazon,60,min
9664,amzns9665,TV Show,Planet Patrol,NaN,"DICK VOSBURGH, RONNIE STEVENS, LIBBY MORRIS, M...",NaN,NaT,2018,13+,4 Seasons,TV Shows,"This is Earth, 2100AD - and these are the adve...",amazon,4,Seasons
9665,amzns9666,Movie,Outpost,Steve Barker,"Ray Stevenson, Julian Wadham, Richard Brake, M...",NaN,NaT,2008,R,90 min,Action,"In war-torn Eastern Europe, a world-weary grou...",amazon,90,min
9666,amzns9667,TV Show,Maradona: Blessed Dream,NaN,"Esteban Recagno, Ezequiel Stremiz, Luciano Vit...",NaN,NaT,2021,TV-MA,1 Season,"Drama, Sports","The series tells the story of Diego Maradona, ...",amazon,1,Season
9667,amzns9668,Movie,Harry Brown,Daniel Barber,"Michael Caine, Emily Mortimer, Joseph Gilgun, ...",NaN,NaT,2010,R,103 min,"Action, Drama, Suspense","Harry Brown, starring two-time Academy Award w...",amazon,103,min

Ahora concatenamos los 4 datasets.

In [51]:
concat_1 = pd.concat([amzn_df, disney_df], axis=0)
concat_2=pd.concat([hulu_df,netflix_df], axis=0)
movies_df=pd.concat([concat_1,concat_2], axis=0)

In [52]:
movies_df

,Pelicula_id,Tipo,Titulo,Director,Elenco,Pais,Fecha_a√±adida,A√±o_lanzamiento,Clasificacion,Duracion,Listada_en,Descripcion,Plataforma,duracion_int,duracion_tipo
0,amzns1,Movie,The Grand Seduction,Don McKellar,"Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",Canada,2021-03-30,2014,NaN,113 min,"Comedy, Drama",A small fishing village must procure a local d...,amazon,113,min
1,amzns2,Movie,Take Care Good Night,Girish Joshi,"Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",India,2021-03-30,2018,13+,110 min,"Drama, International",A Metro Family decides to fight a Cyber Crimin...,amazon,110,min
2,amzns3,Movie,Secrets of Deception,Josh Webber,"Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",United States,2021-03-30,2017,NaN,74 min,"Action, Drama, Suspense",After a man discovers his wife is cheating on ...,amazon,74,min
3,amzns4,Movie,Pink: Staying True,Sonia Anderson,"Interviews with: Pink, Adele, Beyonc√©, Britney...",United States,2021-03-30,2014,NaN,69 min,Documentary,"Pink breaks the mold once again, bringing her ...",amazon,69,min
4,amzns5,Movie,Monster Maker,Giles Foster,"Harry Dean Stanton, Kieran O'Brien, George Cos...",United Kingdom,2021-03-30,1989,NaN,45 min,"Drama, Fantasy",Teenage Matt Banting wants to work with a famo...,amazon,45,min
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8802,nets8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,2019-11-20,2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a...",netflix,158,min
8803,nets8804,TV Show,Zombie Dumb,None,None,None,2019-07-01,2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g...",netflix,2,Seasons
8804,nets8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,2019-11-01,2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...,netflix,88,min
8805,nets8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,2020-01-11,2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero...",netflix,88,min
8806,nets8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,2019-03-02,2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,netflix,111,min

normalizamos la letra del dataset final.

In [53]:
amzn_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9668 entries, 0 to 9667
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Pelicula_id      9668 non-null   object
 1   Tipo             9668 non-null   object
 2   Titulo           9668 non-null   object
 3   Director         7586 non-null   object
 4   Elenco           8435 non-null   object
 5   Pais             672 non-null    object
 6   Fecha_a√±adida    155 non-null    datetime64[ns]
 7   A√±o_lanzamiento  9668 non-null   int64
 8   Clasificacion    9331 non-null   object
 9   Duracion         9668 non-null   object
 10  Listada_en       9668 non-null   object
 11  Descripcion      9668 non-null   object
 12  Plataforma       9668 non-null   object
 13  duracion_int     9668 non-null   object
 14  duracion_tipo    9668 non-null   object
dtypes: datetime64[ns](1), int64(1), object(13)
memory usage: 1.1+ MB

In [55]:
movies_df['Pelicula_id']=movies_df['Pelicula_id'].str.lower()
movies_df['Tipo']=movies_df['Tipo'].str.lower()
movies_df['Titulo']=movies_df['Titulo'].str.lower()
movies_df['Director']=movies_df['Director'].str.lower()
movies_df['Elenco']=movies_df['Elenco'].str.lower()
movies_df['Pais']=movies_df['Pais'].str.lower()
movies_df['Clasificacion']=movies_df['Clasificacion'].str.lower()
movies_df['Duracion']=movies_df['Duracion'].str.lower()
movies_df['Listada_en']=movies_df['Listada_en'].str.lower()
movies_df['Descripcion']=movies_df['Descripcion'].str.lower()
movies_df['Plataforma']=movies_df['Plataforma'].str.lower()
movies_df['duracion_tipo']=movies_df['duracion_tipo'].str.lower()

In [56]:
movies_df['duracion_tipo'].unique()

array(['min', 'season', 'seasons', nan, None], dtype=object)

Reemplazamos la palabra 'seasons' por 'season'

In [57]:
movies_df['duracion_tipo'].replace({'seasons':'season'}, inplace=True)

In [58]:
movies_df['duracion_tipo'].unique()

array(['min', 'season', nan, None], dtype=object)

Finalmente exportamos el archivo en formato csv, el cual nos serivir√° para hacer las consultas en nuesta API.

In [59]:
movies_df.to_csv('movies.csv', encoding='utf-8', index=False)